.box1{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
li,h1,ul{
    display: inline;

}
ul{
    margin: left 50px;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color:white;
}
input{
    width: 30%;
    padding: 15px;
}
input{
   width: 30%;
   padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box1{
    border-color: black;
    border-width: 3px;
    border-style: dashed;
    display: inline-block;
}
.box2{
    border-color: rgb(180, 211, 40);
    border-width: 3px;
    border-style: dotted;
    display: inline-block;

}
style{
    background-color: blue;
    color: brown;
    padding-top: 20px;
}
.about{
    text-align: center;
    margin-top: 10px;
    padding: 40px;
}
.contact
{
    text-align: center;
    margin-top: 5px;
    background-color: black;
    color: white;
}